n8n/workflow.json
{
  "name": "Doomscroll Agent — Hourly Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Hourly Cron",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "command": "cd /app && python main.py --subreddits wallstreetbets investing technology --sort hot --limit 25 2>&1"
      },
      "id": "run-pipeline",
      "name": "Run Pipeline",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.exitCode }}",
              "operation": "notEqual",
              "value2": "0"
            }
          ]
        }
      },
      "id": "check-error",
      "name": "Check for Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "command": "cd /app && python main.py --stats 2>&1"
      },
      "id": "get-stats",
      "name": "Get Memory Stats",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=🚨 Doomscroll Agent Error:\n```\n{{ $('Run Pipeline').item.json.stderr }}\n```"
            }
          ]
        }
      },
      "id": "slack-error-alert",
      "name": "Slack Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=✅ Doomscroll Agent — hourly run complete\n```\n{{ $('Run Pipeline').item.json.stdout.slice(-1500) }}\n```"
            }
          ]
        }
      },
      "id": "slack-success",
      "name": "Slack Success Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "command": "cd /app && python main.py --search \"{{ $env.SEARCH_QUERY || 'AI market trends' }}\" 2>&1"
      },
      "id": "semantic-search",
      "name": "Semantic Search (optional)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 500],
      "disabled": true,
      "notes": "Enable and trigger manually to run a one-off semantic search against stored posts."
    }
  ],
  "connections": {
    "Hourly Cron": {
      "main": [
        [
          {
            "node": "Run Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Pipeline": {
      "main": [
        [
          {
            "node": "Check for Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Error": {
      "main": [
        [
          {
            "node": "Get Memory Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Memory Stats": {
      "main": [
        [
          {
            "node": "Slack Success Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "instanceId": "doomscroll-agent-n8n",
    "templateCredsSetupCompleted": true
  }
}
